<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/4e33f187fd.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous">
    </script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/javascript/javasc.js"></script>


    <title>Title</title>
    <style>

    </style>
    <script>

    </script>
    <header>
        <p class = "logo"><img src =
        <nav>
            <span>Menu1</span>
            <span>Menu2</span>
            <span>Menu3</span>
        </nav>

    </header>

</head>
<body>

<div class="wrap">
    <div class="main_story">
        <div class="story">

        </div>

        <div class="main">

        </div>
        <div class="main">

        </div>
        <div class="main">

        </div>
    </div>
    <div class="sub">
        <div class="mytitle">

        </div>
        <div class="suggest">

        </div>
        <footer>

        </footer>

    </div>


</div>
</body>
</html>